annotated-doc==0.0.5
boto3==1.43.99
botocore==1.43.99
certifi==2026.7.22
charset-normalizer==3.5.1
hvac==2.4.0
idna==3.20
jmespath==1.1.0
markdown-it-py==4.2.0
mdurl==0.1.2
Pygments==2.21.0
python-dateutil==2.9.0.post0
requests==2.34.2
rich==15.0.0
s3transfer==0.19.2
shellingham==1.5.4
six==1.17.0
typer==0.27.2
urllib3==2.8.0
